:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
.container {
	margin: 0;
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-size: cover;
  background-position: center;
}

.phrase-card {
  background-image: url('../public/rectangle1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px 20px 20px;
  width: 450px;
	height: 200px;
}

button {
	width: 150px;
	text-align: center;
	margin: 0 auto;
	border-radius: 8px;
	padding: 10px 0;
	font-size: 0.9rem;

    background: white;
    color: rgb(3, 11, 173);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

button:hover {
	transform: scale(1.1);
    box-shadow: 5px 5px 4px purple;
}


p {
	text-align: center;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 20ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

p {
    display: block;
    white-space: nowrap;
    width: 0;
    max-width: max-content;
    border-right: 2px solid;
    animation: typing 2s infinite steps(15) alternate,
		blink 0.3s infinite step-end alternate;
    overflow: hidden;
    quotes: none;
}

@keyframes pulseGlow {
  0% {
      transform: scale(1);
      text-shadow: 0 0 5px #000, 0 0 10px #111, 0 0 15px #222, 0 0 20px #333;
  }
  50% {
      transform: scale(1.15);
      text-shadow: 0 0 10px #000, 0 0 20px #111, 0 0 30px #222, 0 0 40px #333;
  }
  100% {
      transform: scale(1);
      text-shadow: 0 0 5px #000, 0 0 10px #111, 0 0 15px #222, 0 0 20px #333;
  }
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff; /* Texto blanco */
  text-align: center;
  animation: pulseGlow 2s infinite ease-in-out;
}


@keyframes waveText {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}

q {
  display: block;
  animation: waveText 2s infinite ease-in-out;
}


button:active {
  transform: scale(0.9);
}

@keyframes glow {
  0% { filter: brightness(1); }
  50% { filter: brightness(1.2); }
  100% { filter: brightness(1); }
}

.container {
  background-size: cover;
  background-position: center;
  animation: glow 3s infinite ease-in-out;
}
